#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.header-login{
  text-align: left;
  margin-bottom: 40px;
}

.box-form{
  margin-bottom: 30px;
}

.text-izq{
  text-align: left !important;
}

.boton{
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom:20px;
}

.tamaño-letra{
  font-size: 10px !important;
}

.enlace-ingreso{
  margin-bottom: 80px;
}
